.slider {
    &-container {
        width: fit-content;
        height: 250px;
        overflow: scroll;
        display: flex;
        z-index: 1;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &-img {
        width: 50%;
        margin: 0 1rem;
        border-radius: 2px;
    }

    &-dots {
        display: flex;
    }

    &-dot {
        width: 8px;
        height: 8px;
        background-color: #f0f0f0;
        border-radius: 50%;
        margin: 1rem;
    }



}

.active {
    background-color: #F15B40;
}