.large-card {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 70%;
    height: 30vh;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;
}